In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\PPPP\\Documents\\GitHub\\Machine-Learning\\MovieRecommSystPython'

In [3]:
#1-Read the data given in both ratings and movies files.
import pandas as pd
import numpy as np
import csv

In [4]:
df1=pd.read_csv('movies.csv')
df2=pd.read_csv('ratings.csv')

In [16]:
#2-Merge those datasets into one.

dfmerge = pd.merge(df1, df2, how="left", on=["movieId", "movieId"])
dfmerge.head(5)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [19]:
#3-Extract columns with useful information.
d1=dfmerge.drop(columns='timestamp')
d1.head()

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5

In [59]:
#4-Generate a pivot table.
d3=pd.pivot_table(d1, index= ['movieId'], aggfunc={'rating': np.sum})
d3

         rating
movieId
1         843.0
2         377.5
3         169.5
4          16.5
5         150.5
...         ...
193581      4.0
193583      3.5
193585      3.5
193587      3.5
193609      4.0

[9742 rows x 1 columns]

In [57]:
#5-Perform data cleaning by dropping users with less than 10 reviews.
d2=d3[d3.rating>10]
d2

         rating
movieId
1         843.0
2         377.5
3         169.5
4          16.5
5         150.5
...         ...
185029     11.0
187541     12.0
187593     46.5
187595     19.5
188301     11.0

[4367 rows x 1 columns]

In [60]:
#6-Create a correlation matrix

d2.corr()

        rating
rating     1.0

In [61]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(df1['genres'])

In [62]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [64]:
# Build a 1-dimensional array with movie titles
titles = df1['title']
indices = pd.Series(df1.index, index=df1['title'])

# Function that get movie recommendations based on the cosine similarity score of movie genres
def genre_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [65]:
genre_recommendations('Good Will Hunting (1997)').head(20)

24                            Leaving Las Vegas (1995)
27                                   Persuasion (1995)
42                How to Make an American Quilt (1995)
45                        When Night Is Falling (1995)
66                                 Bed of Roses (1996)
75     Once Upon a Time... When We Were Colored (1995)
76                           Angels and Insects (1995)
93               Bridges of Madison County, The (1995)
115                       Up Close and Personal (1996)
151                                    Mad Love (1995)
162                         Scarlet Letter, The (1995)
170                               Total Eclipse (1995)
175                       Walk in the Clouds, A (1995)
183                              Before Sunrise (1995)
189                           Circle of Friends (1995)
213                            Immortal Beloved (1994)
232                                 Love Affair (1994)
261                  Picture Bride (Bijo photo) (1994)
262             Queen Margot (Reine Margot, La) (1994)
338                    When a Man Loves a Woman (1994)
Name: title, dtype: object

In [66]:
genre_recommendations('Assassins (1995)').head(20)

22                                       Assassins (1995)
138                     Die Hard: With a Vengeance (1995)
156                                       Net, The (1995)
249                           Natural Born Killers (1994)
417                                 Judgment Night (1993)
509                                         Batman (1989)
793                                       Die Hard (1988)
1306                                     Hard Rain (1998)
1315                      Replacement Killers, The (1998)
1325                                 U.S. Marshals (1998)
1430                        French Connection, The (1971)
1693                                         Ronin (1998)
2062                                      No Mercy (1986)
2225                      Someone to Watch Over Me (1987)
2802                                         Shaft (2000)
2815                                           F/X (1986)
2816    F/X2 (a.k.a. F/X 2 - The Deadly Art of Illusio...
3036                                         Coffy (1973)
3222                                   Point Break (1991)
3233                     Fast and the Furious, The (2001)
Name: title, dtype: object

In [ ]:
#7-Get user input by getting movie names and ratings from user.
#8-Generate Recommendations based on user preferences and correlation matrix that the user provides.