In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\PPPP\\Documents\\GitHub\\Machine-Learning\\MovieRecommSystPython'

In [3]:
#1-Read the data given in both ratings and movies files.
import pandas as pd
import numpy as np
import csv

In [5]:
df1=pd.read_csv('movies.csv')
df2=pd.read_csv('ratings.csv')

In [9]:
#2-Merge those datasets into one.

dfmerge = pd.merge(df1, df2, how="left", on=["movieId", "movieId"])
dfmerge.head(15)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,18.0,3.5,1.455210e+09
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19.0,4.0,9.657056e+08
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,21.0,3.5,1.407619e+09
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,27.0,3.0,9.626853e+08
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31.0,5.0,8.504666e+08
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,32.0,3.0,8.567361e+08
11,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,33.0,3.0,9.396474e+08
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40.0,5.0,8.320590e+08
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43.0,5.0,8.489940e+08
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,44.0,3.0,8.692519e+08

In [ ]:
#3-Extract columns with useful information.

In [20]:
#4-Generate a pivot table.
pd.pivot_table(dfmerge, index= 'userId')

             movieId    rating     timestamp
userId
1.0      1854.603448  4.366379  9.649856e+08
2.0     70350.275862  3.948276  1.445715e+09
3.0      7058.384615  2.435897  1.306464e+09
4.0      1982.129630  3.555556  9.658643e+08
5.0       343.840909  3.636364  8.474351e+08
...              ...       ...           ...
606.0    9692.197309  3.657399  1.179512e+09
607.0    1860.636364  3.786096  9.647841e+08
608.0    4502.605295  3.134176  1.122668e+09
609.0     483.162162  3.270270  8.472210e+08
610.0   49590.231183  3.688556  1.489454e+09

[610 rows x 3 columns]

In [ ]:
#5-Perform data cleaning by dropping users with less than 10 reviews.
#6-Create a correlation matrix
#7-Get user input by getting movie names and ratings from user.
#8-Generate Recommendations based on user preferences and correlation matrix that the user provides.