In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import io
import urllib
import zipfile
from urllib import request
import os

In [19]:
os.getcwd()

'C:\\Users\\PPPP\\Documents\\GitHub\\Machine-Learning\\SSA project'

In [43]:
os.chdir('C:\\Users\\PPPP\\Documents\\unzipnamesSSA')

In [44]:
os.getcwd()

'C:\\Users\\PPPP\\Documents\\unzipnamesSSA'

In [46]:
zip1=zipfile.ZipFile('names.zip')

In [25]:
zip1.namelist()

['yob1880.txt',
 'yob1881.txt',
 'yob1882.txt',
 'yob1883.txt',
 'yob1884.txt',
 'yob1885.txt',
 'yob1886.txt',
 'yob1887.txt',
 'yob1888.txt',
 'yob1889.txt',
 'yob1890.txt',
 'yob1891.txt',
 'yob1892.txt',
 'yob1893.txt',
 'yob1894.txt',
 'yob1895.txt',
 'yob1896.txt',
 'yob1897.txt',
 'yob1898.txt',
 'yob1899.txt',
 'yob1900.txt',
 'yob1901.txt',
 'yob1902.txt',
 'yob1903.txt',
 'yob1904.txt',
 'yob1905.txt',
 'yob1906.txt',
 'yob1907.txt',
 'yob1908.txt',
 'yob1909.txt',
 'yob1910.txt',
 'yob1911.txt',
 'yob1912.txt',
 'yob1913.txt',
 'yob1914.txt',
 'yob1915.txt',
 'yob1916.txt',
 'yob1917.txt',
 'yob1918.txt',
 'yob1919.txt',
 'yob1920.txt',
 'yob1921.txt',
 'yob1922.txt',
 'yob1923.txt',
 'yob1924.txt',
 'yob1925.txt',
 'yob1926.txt',
 'yob1927.txt',
 'yob1928.txt',
 'yob1929.txt',
 'yob1930.txt',
 'yob1931.txt',
 'yob1932.txt',
 'yob1933.txt',
 'yob1934.txt',
 'yob1935.txt',
 'yob1936.txt',
 'yob1937.txt',
 'yob1938.txt',
 'yob1939.txt',
 'yob1940.txt',
 'yob1941.txt',
 'yob1942.txt',
 'yob1943.txt',
 'yob1944.txt',
 'yob1945.txt',
 'yob1946.txt',
 'yob1947.txt',
 'yob1948.txt',
 'yob1949.txt',
 'yob1950.txt',
 'yob1951.txt',
 'yob1952.txt',
 'yob1953.txt',
 'yob1954.txt',
 'yob1955.txt',
 'yob1956.txt',
 'yob1957.txt',
 'yob1958.txt',
 'yob1959.txt',
 'yob1960.txt',
 'yob1961.txt',
 'yob1962.txt',
 'yob1963.txt',
 'yob1964.txt',
 'yob1965.txt',
 'yob1966.txt',
 'yob1967.txt',
 'yob1968.txt',
 'yob1969.txt',
 'yob1970.txt',
 'yob1971.txt',
 'yob1972.txt',
 'yob1973.txt',
 'yob1974.txt',
 'yob1975.txt',
 'yob1976.txt',
 'yob1977.txt',
 'yob1978.txt',
 'yob1979.txt',
 'yob1980.txt',
 'yob1981.txt',
 'yob1982.txt',
 'yob1983.txt',
 'yob1984.txt',
 'yob1985.txt',
 'yob1986.txt',
 'yob1987.txt',
 'yob1988.txt',
 'yob1989.txt',
 'yob1990.txt',
 'yob1991.txt',
 'yob1992.txt',
 'yob1993.txt',
 'yob1994.txt',
 'yob1995.txt',
 'yob1996.txt',
 'yob1997.txt',
 'yob1998.txt',
 'yob1999.txt',
 'yob2000.txt',
 'yob2001.txt',
 'yob2002.txt',
 'yob2003.txt',
 'yob2004.txt',
 'yob2005.txt',
 'yob2006.txt',
 'yob2007.txt',
 'yob2008.txt',
 'yob2009.txt',
 'yob2010.txt',
 'yob2011.txt',
 'yob2012.txt',
 'yob2013.txt',
 'yob2014.txt',
 'yob2015.txt',
 'yob2016.txt',
 'yob2017.txt',
 'yob2018.txt',
 'NationalReadMe.pdf']

In [47]:
zip1.extractall()

In [ ]:
C:\\Users\\PPPP\\Documents\\unzipnamesSSA

In [48]:
import glob

In [60]:
header=['Name', 'Gender', 'Number of Babies']
files_path="C:\\Users\\PPPP\\Documents\\unzipnamesSSA"
read_files=glob.glob(os.path.join(files_path,"*.txt"))

for files in read_files:
    data=pd.read_csv(files, header=None,skiprows=1, names=header)

In [61]:
data.shape

(32032, 3)

In [62]:
data.head()

        Name Gender  Number of Babies
0     Olivia      F             17921
1        Ava      F             14924
2   Isabella      F             14464
3     Sophia      F             13928
4  Charlotte      F             12940

In [63]:
data.tail()

        Name Gender  Number of Babies
32027  Zylas      M                 5
32028  Zyran      M                 5
32029  Zyrie      M                 5
32030  Zyron      M                 5
32031  Zzyzx      M                 5

In [22]:
zipInfo=zip1.getinfo('yob1880.txt')
zipInfo

In [14]:
resp=request.urlopen("https://www.ssa.gov/oact/babynames/limits.html")

In [15]:
type(resp)

http.client.HTTPResponse

In [16]:
resp.code

200

In [20]:
resp.length

In [22]:
d=pd.read_html('https://www.ssa.gov/oact/babynames/limits.html')

In [23]:
len(d)

1

In [24]:
d[0]

   Year ofbirth   Male  Female  Total
0          2018  77.45   67.78  72.72
1          2017  77.90   67.64  72.89
2          2016  78.40   67.88  73.26
3          2015  78.80   67.88  73.47
4          2014  78.94   67.84  73.52
5          2013  78.90   67.32  73.25
6          2012  78.61   66.80  72.84
7          2011  78.77   66.89  72.97
8          2010  78.69   66.75  72.86
9          2009  79.02   66.85  73.08